<% if @current_user.admin? %>
<h2 class="text-center">All Itineraries</h2>
<% @itineraries.each_slice(3) do |itineraries| %>
<div class="row">
  <% itineraries.each do |itinerary| %>
    <div class="col-md-4">
    <p><%= itinerary.date %></p>
    <ul class="list-inline text-center">
      <% itinerary.user.each do |user| %>
      <li class="list-inline-item"><%= user.email %> <%= link_to "Edit Itinerary", edit_itinerary_path(itinerary, :user_id => user.id) %>
        <%= button_to "Delete Itinerary", itinerary_path(itinerary, :user_id => user.id), :method => 'delete', :data => { :confirm => "Are you sure?"} %>
      </li>
        <ul class="list-inline text-center">
          <% itinerary.packages.each do |package| %>
            <li class="list-inline-item"><%= link_to package.name, package_path(package) %></li>
          <% end %>
        </ul>
      <% end %>
    </ul>
    </div>
  <% end %>
  </div>
  <% end %>
<% else %>
<h2 class="text-center">My Itineraries</h2>
  <% @user.each do |user| %>
    <% user.itineraries.each do |itinerary| %>
    <p><%= itinerary.date %></p>
      <ul>
        <% itinerary.packages.each do |package| %>
          <li><%= link_to package.name, package_path(package) %></li>
        <% end %>
      </ul>
  <% end %>
  <% end %>
<% end %>
