<% if @current_user.admin? %>
<h2>All Itineraries</h2>
  <% @itineraries.each do |itinerary| %>
    <p><%= itinerary.date %></p>
    <ul>
      <% itinerary.user.each do |user| %>
      <li><%= user.email %></li>
        <ul>
          <% itinerary.packages.each do |package| %>
            <li><%= package.name %></li>
          <% end %>
        </ul>
      <% end %>
    </ul>
  <% end %>
<% else %>
<h2>My Itineraries</h2>
  <% @user.each do |user| %>
    <% user.itineraries.each do |itinerary| %>
    <p><%= itinerary.date %></p>
      <ul>
        <% itinerary.packages.each do |package| %>
          <li><%= package.name %></li>
        <% end %>
      </ul>
  <% end %>
  <% end %>
<% end %>
