<h1>Login</h1>
<% if flash[:error].present? %>
  <h2><%= flash[:error] %></h2>
<% end %>

<%= form_tag login_path do %>
<fieldset class="form-group">
  <%= label_tag :email %>
  <%= email_field_tag :email, nil, :class => 'form-control' %>
</fieldset>

<fieldset class="form-group">
  <%= label_tag :password %>
  <%= password_field_tag :password, nil, :class => 'form-control' %>
</fieldset>
  <%= submit_tag 'Sign in', :class =>'btn btn-primary'  %>
<% end %>
