<h2><%= @place.name %></h2>
<%= link_to "Edit Place", edit_place_path %>
<%= button_to "Delete Place", @place, :method => 'delete', :data => { :confirm => "Are you sure?"} %>
<ul>
  <li>Location: <%= @place.location %></li>
  <li>Image: <%= @place.image if @place.image.present? %></li>
  <li>Included in <%= link_to @place.package.name, package_path(@place.package) %></li>
</ul>
