<!DOCTYPE html>
<html>
  <head>
    <title>Ultimate Coron Experience</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= cloudinary_js_config %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyC5WrtSuHCZyZ6jcagIg7bRTdgTxNunNCw' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield(:head_tags) %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <%= link_to image_tag("http://www.ultimatecoronexperience.com/wp-content/uploads/2013/12/LOGO.png"), root_path, class: "navbar-brand" %>
      <ul class="nav navbar-nav ml-auto">
          <% if @current_user.present? %>
          <li class="nav-item nav-link text-light" >Welcome <%= @current_user.email %>!</li>
          <% if @current_user.admin? %>
            <li class="nav-item nav-link" ><%= link_to "Places", places_path, :class => "text-light" %></li>
            <li class="nav-item nav-link" ><%= link_to "Add Place", new_place_path, :class => "text-light" %></li>
            <li class="nav-item nav-link" ><%= link_to "Tours", packages_path, :class => "text-light" %></li>
            <li class="nav-item nav-link" ><%= link_to "Add Tour", new_package_path, :class => "text-light" %></li>
            <li class="nav-item nav-link" ><%= link_to "All Itineraries", itineraries_path, :class => "text-light" %></li>
          <% else %>
            <li class="nav-item nav-link" ><%= link_to "Places", places_path, :class => "text-light" %></li>
            <li class="nav-item nav-link" ><%= link_to "Tours", packages_path, :class => "text-light" %></li>
            <li class="nav-item nav-link" ><%= link_to "My Itineraries", itineraries_path, :class => "text-light" %></li>
            <li class="nav-item nav-link" ><%= link_to "Add Itinerary", new_itinerary_path, :class => "text-light" %></li>
          <% end %>
            <li class="nav-item nav-link" ><%= link_to "Sign out", login_path, :method => 'delete', :class => "text-light" %></li>
        <% else %>
          <%= link_to "Places", places_path, class: "nav-item nav-link" %>
          <%= link_to "Tours", packages_path, class: "nav-item nav-link" %>
          <%= link_to "Sign up", new_user_path, class: "nav-item nav-link"  %>
          <%= link_to "Sign in", login_path, class: "nav-item nav-link" %>
        <% end %>
      </ul>
    </nav>
    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
